<div class="container">
    <h2 class="text-center">Stats for project: {{project.name}}</h2>

    <div class="well well-sm">Total hours: {{totalHours}}</div>
    <div class="well well-sm">Total cost: {{totalCost}}</div>
    <div class="well well-sm"># of tasks: {{numberOfTasks}}</div>


    <div class="well well-sm text-center">General stats for project {{project.name}}</div>
    <general-stats-chart [tasksValues]="tasks | getTasksValuesPipe"></general-stats-chart>

    <div class="row ">
        <!--<div class="col-md-4" *ngFor="let task of tasks">
            <div class="well well-sm text-center">Task {{task.title}} time to deadline</div>
            <deadline-stats-chart [pieData]="task | getPieDataPipe | orderBy : 'timeLeft'"></deadline-stats-chart>
        </div>-->
            <deadline-stats-chart [pieData]="task | getPieDataPipe"></deadline-stats-chart>
        </div>
    </div>
</div>