<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 class="modal-title">New Task</h4>
            </div>
            <div class="modal-body">
                <form #newTaskForm="ngForm" (ngSubmit)="addNewTask(); hideChildModal()">
                    <div class="form-group">
                        <label for="taskName">Name</label>
                        <input class="form-control" placeholder="Something catchy and short." maxlength="50" minlength="3" type="text" name="taskName" id="taskName" data-validate="true" [(ngModel)]="newTask.title" #taskName="ngModel" required>
                        <small [hidden]="taskName.valid || taskName.pristine" class="text-danger">
                                Invalid task name: Lenght of the name should be between 3 and 50 symbols.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="taskDescription">Description</label>
                        <textarea class="form-control" rows="5" placeholder="Something descriptive, but don't write a novel.(Optional)" name="taskDescription" id="taskDescription" [(ngModel)]="newTask.description"></textarea>
                    </div>
                    <div class="form-group form-inline">
                        <label for="taskHours">Hours</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </div>
                            <select class="form-control" [(ngModel)]="newTask.timeForExecution" name="taskHours" id="taskHours">
                                <option [value]="newTask.timeForExecution">{{newTask.timeForExecution}}</option>
                                <option *ngFor="let hour of items;" [value]="hour">{{hour}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="taskCost">Cost</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-usd"></span>
                                </div>
                                <input class="form-control" type="number" (input)="validateCost()" name="taskCost" id="taskCost" #taskCost="ngModel" [(ngModel)]="newTask.cost" required min="1">
                            </div>
                            <small [hidden]="isCostValid" class="text-danger">
                                    Invalid Cost: Task cost cannot be 0 or negative value.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="taskStatus">Status</label>
                        <select class="form-control" name="taskStatus" id="taskStatus" [(ngModel)]="newTask.status">
                            <option value="started">Started</option>
                            <option value="done">Done</option>
                            <option value="live">Live</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="task_status">Add user to task</label>
                        <div>
                            <small class="text-danger" *ngIf="!newTask.users.length">No users assigned yet.</small>
                            <span *ngIf="newTask.users.length">Assigned users: </span>
                        </div>
                        <ul>
                            <li *ngFor="let selected of newTask.users">
                                {{selected}}
                            </li>
                        </ul>
                        <input auto-complete class="form-control" [source]="availableUsers" name="selectedUser" [(ngModel)]="selectedUser" type="text" />
                        <a class="btn btn-warning" (click)="addUserToTask()">Add user</a>
                    </div>
                    <div class="form-group">
                        <button [disabled]="!(isCostValid && newTaskForm.form.valid && newTask.users.length)" type="submit" class="btn btn-success">Save Task</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>