extends ../_layout

block content
  .home-main-img
  .container.add-spacing-after
    h1.col.lg-12.text-center.text-shadow WELCOME TO MAPPY
    h4.col.lg-12.text-center
      i  Test your geography knowledge