<div class="wg-grid">
    <div class="wg-cell">
        <h2>Team Tools helps every team perform their best,<br> across the hall or across the globe</h2>
        <div>
            <img class="home-logo" src="../../../assets/home-img.png"/>
        </div>

        <p class="home-anchor-subtitle">No matter the workflow, Team Tools enhances communication,<br> transparency and accountability to achieve results</p>

        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <div>
                        <img class="home-anchor-icon--default" src="https://www.wrike.com/content/uploads/2016/11/icon-management.svg">
                    </div>
                    <p><span class="img-title">Project<br> Management Teams</span></p>
                </div>
                <div class="col-xs-4">
                    <div>
                        <img class="home-anchor-icon--default" src="https://www.wrike.com/content/uploads/2016/11/icon-creative.svg">
                    </div>
                    <p><span class="img-title">Creative<br> Teams</span></p>
                </div>
                <div class="col-xs-4">
                    <div>
                        <img class="home-anchor-icon--default" src="https://www.wrike.com/content/uploads/2016/11/icon-all-team.svg">
                    </div>
                    <p><span class="img-title">All<br> Teams</span></p>
                </div>
            </div>
        </div>
    </div>
</div>