<div class="container">
    <div class="row">
        <h3>Notifications
            <span class="dropdown" *ngIf="notificationCount > 0">
                <button class="btn btn-warning dropdown-toggle glyphicon glyphicon-bell" type="button" data-toggle="dropdown"> {{notificationCount}}
                    <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="position: absolute; top:45px; left: 80px;">
                <li><span (click)="deleteAllNotifications()">Remove all notifications</span></li>
                <li *ngFor="let notification of notifications; let i = index">
                    <div>
                        <span class="btn btn-danger" (click)="deleteNotification(i)">x</span>
                        <p>{{notification.content}}</p>
                        <div>sent {{notification.created | date}}</div>
                    </div>
                </li>
            </ul>
            </span>
            <span class="dropdown" *ngIf="notificationCount === 0">
                <button class="btn btn-warning dropdown-toggle glyphicon glyphicon-bell" type="button" data-toggle="dropdown">
                    <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="position: absolute; top:45px; left: 80px;">
                <li>
                    <span>No notifications!</span>
                </li>
            </ul>
            </span>
            <!--<span class="btn btn-warning glyphicon glyphicon-bell" *ngIf="notificationCount === 0" (click)="noNotifications()"></span>
            <span class="btn btn-warning glyphicon glyphicon-bell" *ngIf="notificationCount > 0"> {{notificationCount}}</span>-->
        </h3>
    </div>
    <div class="row">
        <kendo-grid role="button" [data]="gridView" [selectable]="true" (selectionChange)="onSelect($event)" [sortable]="{ mode: 'multiple' }" [sort]="sort" (sortChange)="sortChange($event)" [pageSize]="pageSize" [skip]="skip" [pageable]="true" [height]="auto"
            (pageChange)="pageChange($event)">
            <kendo-grid-column field="name" width="150" title="Project name">
            </kendo-grid-column>
            <kendo-grid-column width="150" field="description" title="Project description">
            </kendo-grid-column>
            <kendo-grid-column width="100" field="creator" title="Creator">
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>