<div class="container">
    <div class="row">
        <h3>Notifications
            <span class="btn btn-warning glyphicon glyphicon-bell"> 1</span>
        </h3>
    </div>
    <div class="row">
        <kendo-grid [data]="gridView" [selectable]="true" (selectionChange)="onSelect($event)" [sortable]="{ mode: 'multiple' }"
            [sort]="sort" (sortChange)="sortChange($event)" [pageSize]="pageSize" [skip]="skip" [pageable]="true" [height]="auto"
            (pageChange)="pageChange($event)">
            <kendo-grid-column field="name" width="150" title="Project name">
            </kendo-grid-column>
            <kendo-grid-column width="150" field="description" title="Project description">
            </kendo-grid-column>
            <kendo-grid-column width="100" field="creator" title="Creator">
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>