<navbar></navbar>
<router-outlet>
</router-outlet>
<footer class="text-center">
  <div class="panel-footer">
    <h4>© League of the Three</h4>
    <p>Telerik Academy 2016</p>
    <div>
      <p><a routerLink="home" target="_blank" class="btn btn-social-icon btn-lg btn-youtube pull-right spacing-left"><i class="fa fa-youtube-play btn-danger"></i></a></p>
      <p class="home-btn"><a target="_blank" href="https://github.com/League-of-the-Three/Tools-For-Teams" class="btn btn-social-icon btn-lg btn-github pull-right spacing-left"><i class="fa fa-github"> </i></a></p>
    </div>
  </div>
</footer>