<div class="container">
    <h2 class="text-center">Toolbox</h2>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading text-center row row-list">
                <nav id="primary_nav_wrap">
                    <ul>
                        <li>
                            <div class="col-xs-4">
                                <a href="my-toolbox" data-toggle="tooltip" title="Create and manage charts">
                                    <h3>Charts</h3>
                                </a>
                                <ul>
                                    <li>

                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-4">
                                <a href="my-toolbox" data-toggle="tooltip" title="Create and manage documents">
                                    <h3>Documents</h3>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-4">
                                <a href="my-toolbox" data-toggle="tooltip" title="Add more features">
                                    <h3>Add more</h3>
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>